extend componentes/plantilla.pug
block contenidos 
	section.intro 
		.intro__imagen: img(src="./images/imagen.png")
		.intro__contenido
			h2 #{titulos[0]}
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsum possimus modi aspernatur ratione voluptate eos facilis odit, corporis explicabo ad velit voluptatem expedita aut sint rerum sed consectetur vel!
				span Lorem ipsum dolor sit amet #[strong #[em consectetur]] adipisicing elit.
			a.boton Leer más
	main.contenido
		+caja("imagen.png",titulos[1],"Primero")
		+caja("imagen.png",titulos[2],"Segundo")
		+caja("imagen.png",titulos[3],"Tercero")