.sombra-caja {
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.5);
}
.fuente2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.dark {
  background-color: #333333;
  color: #FFFFFF;
}
.dark .intro {
  background-color: #8841da;
}
.dark .caja span {
  color: rgba(255, 255, 255, 0.8);
}
.dark .caja__contenido {
  background-color: #8841da;
}
.dark .caja__contenido a {
  color: rgba(255, 255, 255, 0.5);
}
.dark .articulo--principal h2 {
  color: #8841da;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  color: #333333;
  background-color: #333333;
  color: #FFFFFF;
}
html .intro {
  background-color: #8841da;
}
html .caja span {
  color: rgba(255, 255, 255, 0.8);
}
html .caja__contenido {
  background-color: #8841da;
}
html .caja__contenido a {
  color: rgba(255, 255, 255, 0.5);
}
html .articulo--principal h2 {
  color: #8841da;
}
h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
p {
  padding: 10px 0;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.intro {
  position: relative;
  width: 1340px;
  height: 650px;
  margin: 0 auto;
  padding: 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.5);
}
.intro__imagen {
  width: 1320px;
  position: absolute;
}
.intro__imagen img {
  width: 100%;
  height: 624px;
  object-fit: cover;
}
.intro__contenido {
  width: 70%;
  margin: 0 auto;
  position: absolute;
  top: 156px;
  left: 0;
  right: 0;
  text-align: center;
  color: #FFFFFF;
}
.intro__categoria {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.5);
}
.intro__titulo {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
}
.intro__autor {
  width: 150px;
  margin: 0 auto;
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  color: #FFFFFF;
}
.intro__autor img {
  width: 50px;
  height: 50px;
  float: left;
  padding-right: 10px;
  border-radius: 10em;
}
.intro__autor span {
  display: inline-block;
  font-size: 1.6rem;
}
.intro__autor-titulo {
  color: rgba(255, 255, 255, 0.5);
}
.articulo--principal {
  max-width: 664px;
  margin: 0 auto;
}
.articulo--principal h2 {
  margin: 40px 0;
  font-size: 5rem;
  text-align: center;
}
.articulo--principal h3 {
  padding: 20px 0;
  font-size: 1.6rem;
  color: #8841da;
}
.articulo--principal__intro {
  font-size: 2.5rem;
  line-height: 3.2rem;
}
.contenedor--cajas {
  width: 100%;
  margin: 0 auto 35px;
  display: flex;
  justify-content: space-evenly;
}
.caja {
  max-width: 430px;
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.5);
}
.caja__contenido {
  padding: 25px;
  background-color: #FFFFFF;
}
.caja span {
  font-size: 1.8rem;
  color: #8841da;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.caja h3 {
  font-size: 1.8rem;
}
.caja p {
  font-size: 1.6rem;
}
.caja a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #012179;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
