.articulo--principal {
    max-width: 664px;
    margin: 0 auto;
    h2 {
        margin: 40px 0;
        font-size: 5rem;
        text-align: center;
    }
    h3 {
        padding: 20px 0;
        font-size: 1.6rem;
        color: $color-secundario;
    }
    p {
        padding: 10px 0;
        font-size: 1.8rem;
        line-height: 2.8rem; 
    }
    &__intro {
        font-size: 2.5rem;
        line-height: 3.2rem; 
    }
}
.articulos {
    width: 50%;
    padding: 50px;
}
.articulo {
    padding: 20px 0;
    border-bottom: 2px solid $color-secundario;
	&__categoria {
		font-weight: 500;
		font-size: 1.6rem;
		color: $color-secundario;
		@include titulos($Fuente2);
	}
	&__titulo {
		font-size: 2rem;
        padding-bottom: 15px;
		@include titulos($Fuente2);
	}
}

