.banner--homepage {
	max-width: 300px;
	padding: 50px;
	background-color: $color-secundario;
	color: $color-claro;
	h3 {
		margin-bottom: 25px;
        font-size: 2rem;
		@include titulos($Fuente2);
	}
	p {
		margin-bottom: 50px;
	}
	.button {
		padding: 10px;
		height: 50px;
		border: 2px solid $color-claro;
		font-size: 1.8rem;
		@include titulos($Fuente2);
	}
}