.footer--principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: $color-primario;
    img {
        width: 200px;
    }
}
.nav--footer {
    ul {
        display: flex;
        justify-content: space-between;
    }
    li {
        list-style: none;
        margin: 0 25px;
    }
    a {
        color: $color-claro;
        text-decoration: none;
        @include titulos($Fuente2);
    }
}
.nav--social {
    ul {
        display: flex;
        justify-content: space-between;
    }
    li {
        list-style: none;
        margin: 0 30px;
        color: $color-claro;
    }
    a {
        color: $color-claro;
        text-decoration: none;
        @include titulos($Fuente2);
    }
}

@media only screen and (max-width: 1010px ) {
    .footer--principal {
        flex-direction: column;
        align-items: center;
    }
    .nav--footer {        
        li {
            margin: 0 30px;
            padding: 10px 0;
        }
    }
    .nav--social {
        li {
            margin: 0 30px;
            padding: 10px 0;
        }
    }
}
@media only screen and (max-width: 600px) {
    .nav--footer ul {
        flex-direction: column;
        padding: 0;
        border: 1px solid $color-claro;
        border-bottom: hidden;
        li {
            width: 100%;
            padding: 5px 100px;
            margin: 0 auto;
            text-align: center;
            border-bottom: 1px solid $color-claro;
        }        
        li:hover {
            background-color: get-opacity($color-claro, 0.2);
            color: $color-primario;
        }
    }
    .nav--social ul {
        flex-flow: row wrap;
        justify-content: center;
        li {
            margin: 0 15px;
        }
    }    
}