.header--principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
    border-bottom: 1px solid get-opacity($color-primario, 0.5);
    img {
        width: 200px;
    }
}
.nav--header {
    ul {
        display: flex;
        justify-content: space-between;
    }
    li {
        list-style: none;
        margin: 0 25px;
    }
    a {
        color: $color-variacion;
        text-decoration: none;
        @include titulos($Fuente2);
    }
    a:hover {
        color: $color-secundario;
    }
}
.header__busqueda {
    display: flex;
    align-items: center;
    /*margin-left: auto;*/
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    i {
		margin-right: 10px;
		color: $color-secundario;
	}
	span {
		color: $color-variacion;
		@include titulos($Fuente2);	
	}
}

@media only screen and (max-width: 720px ) {
    .header--principal {
        flex-direction: column;
        align-items: center;
    }
    .nav--header {        
        li {
            margin: 0 30px;
            padding: 10px 0;
        }
    }
    .header__busqueda {
        display: none;
    }
}
@media only screen and (max-width: 430px) {
    .nav--header ul {
        flex-direction: column;
        padding: 0;
        border: 1px solid $color-variacion;
        border-bottom: hidden;
        li {
            width: 100%;
            padding: 5px 120px;
            margin: 0 auto;
            text-align: center;
            border-bottom: 1px solid $color-variacion;
        }        
        li:hover {
            background-color: get-opacity($color-primario, 0.2);
        }
    }
}