.buscador {
  width: 100%;
  height: 250px;
  padding: 100px;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  text-align: center;
  &__input {
    width: 75%;
    height: 60px;
    padding: 20px;
    border: none;
    border-radius: 30px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 900px) {
  .buscador {
    padding: 120px 0;
    &__input {
      width: 80%;
      height: 30px;
      padding: 5px;
      border: none;
      border-radius: 15px;
      font-size: 1.6rem;
    }
  }
}
