.encabezado--con-filtros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  width: 90%;
  margin: 35px auto;
  h2 {
    font-size: 5rem;
    @include titulos($Fuente2);
  }
  .filtros {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 75px;
    padding: 20px;
    @include sombra-caja;
    span {
      @include titulos($Fuente2);
    }
    a {
      margin-left: 20px;
      font-size: 2.5rem;
      color: $color-primario;
    }
  }
}

@media only screen and (max-width: 900px) {
  .encabezado--con-filtros {
    h2 {
      font-size: 3rem;
    }
  }
}
