.galeria {
    @include caja;
    &__foto-principal {
        /*float: left;*/
        margin-right: 10px;
    }
    &__fotos-adicionales img {
        height: 70px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    h2 {
		margin-bottom: 10px;
		font-size: 2rem;
		font-weight: 600;
        @include titulos($Fuente2);
	}
    img {
        border-radius: 10px;
    }
}