$color-primario: #333333;
$color-claro: #ffffff;
$color-secundario: #8841da;
$color-variacion: #012179;
$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;
$dark-mode: false;

@mixin caja {
  width: 70%;
  height: auto;
  margin: 15px auto;
  padding: 15px;
  color: $color-primario;
  background-color: $color-claro;
  border-radius: 20px;
}

@mixin sombra-caja {
  color: $color-primario;
  box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.5);
}

@mixin titulos($fuente) {
  @if $fuente==$Fuente1 {
    font-family: $Fuente1;
  } @else {
    font-family: $Fuente2;
    text-transform: uppercase;
  }
}
@mixin mode($mode) {
  @if $mode == $dark-mode {
    background-color: $color-primario;
    color: $color-claro;
    .intro {
      background-color: $color-secundario;
    }
    .caja {
      span {
        color: get-opacity($color-claro, 80%);
      }
    }
    .caja__contenido {
      background-color: $color-secundario;
      a {
        color: get-opacity($color-claro, 50%);
      }
    }
    .articulo--principal {
      h2 {
        color: $color-secundario;
      }
    }
  }
}
@function get-opacity($color, $nivel) {
  @return rgba($color, $nivel);
}
@each $header, $size in (h1: 3rem, h2: 2.5rem, h3: 2rem) {
  #{$header} {
    font-size: $size;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  @include titulos($Fuente1);
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  font-size: 1.6rem;
}
main {
  display: flex;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column;
  }
}
