.ubicacion--perfil {
  display: grid;
  grid-template: repeat(2, 1fr) / 30% 70%;
  justify-content: center;
  align-items: center;
  @include caja;
  i {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    place-items: center;
    font-size: 4rem;
    color: $color-variacion;
  }
  h2 {
    font-weight: 600;
    @include titulos($Fuente2);
  }
  h3 {
    color: get-opacity($color-primario, 0.5);
    @include titulos($Fuente2);
  }
}
