.estadistica--articulos
	width: 70%
	padding: 15px
	margin: 0 auto
	font-size: 1.2rem
	border-top: 1px solid opacidad(color-primario, 0.3)
	color: opacidad(color-primario, 0.3)
	ul
		display: flex
		justify-content: space-evenly
		list-style: none
		li
			text-decoration: none
		span
			margin-left: 10px