h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}
body {
  font-size: 1.6rem;
}
.buscador {
  width: 100%;
  height: 250px;
  padding: 95px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  text-align: center;
}
.buscador__input {
  width: 75%;
  height: 60px;
  padding: 20px;
  font-size: 2.5rem;
  outline: none;
  border: none;
  border-radius: 30px;
}
.encabezado--con-filtros {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}
.encabezado--con-filtros h2 {
  font-size: 5rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.encabezado--con-filtros .filtros {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  height: 75px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 20px 33px 0px rgba(0,0,0,0.2);
}
.encabezado--con-filtros .filtros span {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.encabezado--con-filtros .filtros a {
  margin-left: 20px;
  font-size: 2.5rem;
  color: #333;
}
.contenido {
  justify-content: space-between;
  flex-flow: row wrap;
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}
.caja {
  max-width: 300px;
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 0px 20px 33px 0px rgba(0,0,0,0.2);
}
.caja img {
  width: 100%;
}
.caja__contenido {
  padding: 20px;
  background-color: #fff;
}
.caja__contenido span {
  color: #8841da;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.caja__contenido h3 {
  padding-bottom: 15px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.estadistica--articulos {
  width: 70%;
  padding: 15px;
  margin: 0 auto;
  font-size: 1.2rem;
  border-top: 1px solid rgba(51,51,51,0.3);
  color: rgba(51,51,51,0.3);
}
.estadistica--articulos ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.estadistica--articulos ul li {
  text-decoration: none;
}
.estadistica--articulos ul span {
  margin-left: 10px;
}
